body {
  font-family: sans-serif;
  font-size: 20pt;
  color: black;
  max-width: 80%;
  margin-left: 5%;
  margin-top: 20px;
}
a {
  text-decoration: none;
}
a.underlined {
  text-decoration: underline black;
}
line {
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: black;
}
.gray {
  color: gray;
  font-size: 20pt;
}
.indented {
  color: darkgray;
  margin-left: 50px; 
  font-size: 16pt;
}

svg {
  vertical-align: -4px;
}
svg * {
  stroke: black;
  stroke-width: 2px;
}
svg#notdone line#backslash {
  stroke-width: 0px;
}
svg#notdone line#forwardslash {
  stroke-width: 0px;
}

svg#started line#backslash {
  stroke-width: 0px;
}
svg#logo * {
  stroke: gray;
}
svg#logo line#backslash {
  stroke-width: 0px;
}
li {
  margin-bottom: 10px;
}
.small_text {
  font-size: 14pt;
}
.small_text a {
  text-decoration: none;
}
a {
  color: black;
}