body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18pt;
}
a {
  text-decoration: none;
  color: black;
}
line {
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: black;
}
path {
  stroke-linejoin: round;
}
rect {
  fill: white;
}
svg {
  vertical-align: -3px;
  stroke: black;
}
svg.out_link {
  vertical-align: -1px;
}
.touchable {
  cursor: pointer;
}
.touchable:active {
  animation: darken .1s;
}
.twirling {
  animation-name: twirl;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes twirl {
  0% {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
@keyframes darken {
  100% {
    background-color: lightsteelblue;
  }
}
div#task_menu.show {
      transition-property: max-height;
      transition: .2s ease-in-out;
      max-height: 84px;
      min-height: 0px;
      overflow: hidden;
      background-color: rgb(245, 245, 245);
      padding-top: 8px;
      padding-left: 65px;
      margin-left: -28px;
      margin-right: -1024px;
      margin-top: 5px;
      box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25);
    }
div#task_menu.hide {
      transition-property: max-height;
      transition: .2s ease-in-out;
      max-height: 0px;
      overflow: hidden;
    }

/* Date nav styling */
div#header {
  background-color: white;
  height: 50px;
  width: 95vw;
  max-width: 420px;
  margin-top: -100px;
  padding-top: 25px;
  margin-left: -12px;
  padding-left: 10px;
  padding-right: 1024px;
  margin-right: -10px;
  padding-bottom: 6px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
}
div#date_nav {
  width: inherit;
  max-width: inherit;
  position: fixed;
  text-align: center;
}
div#date_center {
  text-align: center;
  width: inherit;
  max-width: inherit;
}
span#date_text {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 22pt;
}

/* Date nav SVGs */
svg.past {
  color: black;
}
svg.past line, svg.past rect {
  stroke: black;
}
svg.present line#date_backslash, 
svg.future line#date_backslash, 
svg.future line#date_forwardslash {
  stroke-width: 0;
}

/* Task text and menu */
div#list_container {
  margin-left: 20px;
  margin-top: 100px;
  max-width: 400px;
  transition: height 1s;
}
div#task_container {
  padding-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  margin-left: -5px;
  border-radius: 10px;
}
span.task_text {
  padding-left: 5px;
  line-height: 130%;
}
div.task_menu {
  display: none;
  background-color: rgb(245, 245, 245);
  padding-top: 5px;
  padding-left: 65px;
  margin-left: -28px;
  margin-right: -1024px;
  margin-top: 5px;
  vertical-align: top;
  box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25);
}
@keyframes breathe {
  0% {
    margin-bottom: -3px;
  }
  100% {
    margin-bottom: 15px;
  }
}
.breathing {
  animation: breathe 2s alternate-reverse infinite;
}




/* Task labels */
.label1 {
  background-color: rgb(242, 185, 181);
  transition: 1s;
}
.label2 {
  background-color: rgb(181, 255, 255);
  transition: 1s;
}
.label3 {
  background-color: rgb(252, 248, 204);
  transition: 1s;
}
.label4 {
  background-color: rgb(198, 255, 206);
  transition: 1s;
}
.label5 {
  background-color: rgb(219, 219, 219);
  transition: 1s;
}

/* Diamond styles */
svg.notdone line, svg.started > line#backslash {
  stroke-width: 0px;
  stroke-dasharray: 0 37;
}
svg.started > line#forwardslash {
  stroke-width: 2px;
  transition-property: stroke-dasharray;
  transition: 0.25s;
  stroke-dasharray: 37 0;
}
svg.done + span.task_text {
  color: gray;
}
svg.done * {
  stroke: gray;
}
svg.done > line#backslash {
  transition-property: stroke-dasharray;
  transition: 0.25s;
  stroke-dasharray: 37 0;    
}
svg.set_on rect {
  fill: black;
}
svg.set_off rect {
  fill: white;
}

/* Entry form style */
input {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18pt;
}
#input_form {
  padding-top: 5px;
  margin-left: 20px;
}
#entry_box {
  width: 80%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  margin-left: 4px;
}
#task_edit_box {
  width: 250px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px dashed black;
  margin-left: 2px;
  margin-bottom: 2px;
  color: gray;
}
#task_edit_box:focus {
  color: black;
}
#char_count {
  color: gray;
  text-align: right;
}

/* Logo stuff */
div#tt_logo {
  color: gray;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 35px;
  text-align: right;
}
#logoslash {
  stroke: gray;
}