body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18pt;
}
a {
  text-decoration: none;
  color: black;
}
form {
  display: inline;
}
line {
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: black;
}
rect {
  fill: transparent;
}
svg {
  vertical-align: -3px;
  stroke: black;
}
.touchable {
  cursor: pointer;
}
.touchable:active {
  animation: darken .3s;
}
.twirling {
  animation-name: twirl;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes twirl {
  0% {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
@keyframes darken {
  0% {
    background-color: white;
    color: white;
    fill: white;
  }
  100% {
    background-color: lightsteelblue;
    color: lightsteelblue;
    fill: lightsteelblue;
  }
}

/* Date nav styling */
div#header {
  background-color: white;
  height: 50px;
  width: 95vw;
  max-width: 420px;
  margin-top: -100px;
  padding-top: 25px;
  margin-left: -12px;
  padding-left: 10px;
  padding-right: 1024px;
  margin-right: -10px;
  padding-bottom: 6px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
}
div#date_nav {
  width: inherit;
  max-width: inherit;
  position: fixed;
  text-align: center;
}
div#date_center {
  text-align: center;
  width: inherit;
  max-width: inherit;
}
span#date_text {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 22pt;
}

/* Date nav SVGs */
svg.past {
  color: black;
}
svg.past line, svg.past rect {
  stroke: black;
}
svg.present line#date_backslash, 
svg.future line#date_backslash, 
svg.future line#date_forwardslash {
  stroke-width: 0;
}

/* Task text and menu */
div#list_container {
  margin-left: 20px;
  margin-top: 100px;
  max-width: 400px;
}
div#task_container {
  padding-bottom: 10px;
  margin-right: 20px;
  max-width: 400px;
}
span.task_text {
  padding-left: 5px;
  line-height: 130%;
}
div.task_menu {
  display: none;
  background-color: rgb(245, 245, 245);
  padding-top: 5px;
  padding-left: 65px;
  margin-left: -28px;
  margin-right: -1024px;
  margin-top: 5px;
  vertical-align: top;
  box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* Diamond styles */
svg.notdone line, svg.started > line#backslash {
  stroke-width: 0px;
}
svg.started > line#forwardslash {
  stroke-width: 2px;
}
svg.done + span.task_text {
  color: gray;
}
svg.done * {
  stroke: gray;
}
svg.set_on rect {
  fill: black;
}
svg.set_off rect {
  fill: white;
}

/* Entry form style */
input {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18pt;
}
#input_form {
  margin-left: 20px;
}
#entry_box {
  width: 300px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  margin-left: 4px;
}
#task_edit_box {
  width: 250px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px dashed black;
  margin-left: 2px;
  margin-bottom: 2px;
  color: gray;
}
#task_edit_box:focus {
  color: black;
}

/* Logo stuff */
div#tt_logo {
  color: gray;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 35px;
  text-align: right;
}
#logoslash {
  stroke: gray;
}