<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='info.css') }}">

</head>

<body>
{% macro draw_diamond(kind) %}

<svg id="{{ kind }}" class="diamond" width="28" height="28" >
  <g transform="translate(0) rotate(45 12 16)">
    <rect x="3" y="4" rx="1" ry="1" width="18" height="18" fill="white"  />
  </g>
  <line id="forwardslash" stroke-linecap="round" x1="27" y1="1" x2="1" y2="27" />
  <line id="backslash" stroke-linecap="round" x1="1" y1="1" x2="27" y2="27" />
</svg>

{% endmacro %}

  {{ draw_diamond('logo') }} <span class="gray">tinytask</span> is a daily task list for the things you have to do.

  <p class="gray">Philosophy</p>
  
  <p>{{ draw_diamond('notdone') }} Write down tasks</p>
  <p class="indented">Offload things you have to do from your working memory by writing them down immediately. Come back to the list later.</p>

  <p>{{ draw_diamond('notdone') }} Keep it simple</p>
  <p class="indented">This space is small, made for tiny tasks. If it can't be stated in a few words, break it into smaller tasks.</p>

  <p>{{ draw_diamond('started') }} Mark a task as soon as you begin</p>
  <p class="indented">Tasks that you have started will go to the top of the list. Use this to remind yourself of what to come back to.</p>
  
  <p>{{ draw_diamond('logo') }} Don't stack up past tasks</p>
  <p class="indented">Some tasks don't get finished. Important tasks will resurface in your life, and can be re-added or scheduled for a future date.</p>
  <p class="indented">You can push a task to tomorrow or put it on a future list, but unfinished business will happily remain in the past.</p>
  
  <p>{{ draw_diamond('done') }} Mark it done</p>
  <p class="indented">Keep a record of what you've accomplished. You might need it later.</p>
  <p class="indented">It's also okay to put things you've already done on today's list.</p>
</body>

</html>
