<html>
<head>
<style>
body {
  font-face: sans-serif;
  font-size: 20pt;
  color: black;
}
.gray {
  color: gray;
  font-size: 22pt;
}
.indented {
  color: darkgray;
  margin-left: 50px; 
}
</style>

</head>

<body>


  <svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line id="logoslash" stroke-width="2" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
    <line id="logobackslash" stroke="gray" stroke-width="0" x1="5" y1="5" x2="27" y2="27" />
  </svg> <span class="gray">tinytask</span> is a daily task list for the things you have to do today.

  <p class="gray">Philosophy</p>
  
  <p><svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line stroke-width="0" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
  </svg>Write down tasks.</p>
  <p class="indented">Keep your mind clear and focused by offloading them to a list. Use your memory for more important things.</p>

  <p><svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line id="logoslash" stroke-width="2" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
  </svg>Keep it simple.</p>
  <p class="indented">Your space is small, built for tiny tasks. If it can't be stated in a few words, your task may be too large. Break it into smaller tasks and spread them out.</p>
  
  <p><svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line id="logoslash" stroke-width="2" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
  </svg>Don't get bogged down.</p>
  <p class="indented">Some tasks don't get finished. Some aren't important, though they seemed to be in the past. Important tasks will resurface in your life, and can be re-added or scheduled for a future date. You can move a task to tomorrow, but each list is specific to the date and unfinished business will remain in the past.</p>
  
  <p><svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line id="logoslash" stroke-width="2" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
  </svg>Mark a task as soon as you begin.</p>
  <p class="indented">Tasks that you have started will rise to the top of the list. Use this to remind yourself of what you were just doing.</p>
  
  <p><svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2" fill="white"  />
    </g>
    <line id="logoslash" stroke-width="2" stroke="gray" x1="27" y1="5" x2="5" y2="27" />
    <line id="logobackslash" stroke="gray" stroke-width="2" x1="5" y1="5" x2="27" y2="27" />
  </svg>It's okay to put something you've already done on the list.</p>
  <p class="indented">Keep a record of what you've accomplished. You might need it later.
</body>

</html>
