<!DOCTYPE html>
<html>
<head>
<title>Tinytask</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
<link rel="apple-touch-icon" ref="{{ url_for('static', filename='tinytask_logo.png') }}" />
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% macro date_nav() %}
<div id="header">
  <div id="date_nav">
    <svg width="12%" height="30" class="touchable"> 
      <rect id="yesterday_button" stroke="transparent" width="50" height="30" x="0" y="0" />
      <g transform="translate(18, 0)">
        <line x1="15" y1="1" x2="1" y2="15" />
        <line x1="15" y1="29" x2="1" y2="15" />
      </g>
    </svg>
    <svg id="refresh_button" width="50%" height="30" class="touchable">
      <circle id="update_indicator" cx="187" cy="5" r="4" stroke-width="0" fill="transparent" />
    </svg>
    <svg width="12%" height="30" class="touchable"> 
      <rect id="tomorrow_button" stroke="transparent" width="50" height="30" x="0" y="0" />
      <g transform="translate(18, 0)">
        <line x1="1" y1="1" x2="15" y2="15" />
        <line x1="15" y1="15" x2="1" y2="29" />
      </g>
    </svg>        
  </div>
  <div id="date_center">
    <svg class="future" id="date_diamond" height="30" width="30">
      <rect x="6" y="6" rx="1" ry="1" stroke-width="2px" width="18" height="18" transform="rotate(45 15 15)" />  
      <line id="date_forwardslash" x1="27" y1="3" x2="3" y2="27" />
      <line id="date_backslash" x1="3" y1="3" x2="27" y2="27" />
    </svg>
    <span id="date_text">{{ get_readable_date(date) }}</span>
  </div>
</div>
{% endmacro %}

{% macro draw_task(task) %}
<div id="task_container" date="{{ date }}" key="{{ task['task_key'] }}">
  <svg id="task_diamond" class="{{ task['status'] }}" width="28" height="28">
    <g transform="translate(0) rotate(45 12 16)">
      <rect class="touchable" x="3" y="4" rx="1" ry="1" width="18" height="18" stroke-width="2px" />
    </g>
    <line id="forwardslash" x1="27" y1="1" x2="1" y2="27" />
    <line id="backslash" x1="1" y1="1" x2="27" y2="27" />
  </svg>
  <span class="task_text touchable">{{ parse_links(task['description'])|safe }}</span>
  <div class="task_menu">
<!--     <div id="close_button" class="touchable" style="position: absolute; margin-left: -35px; padding-left: 0px; padding-top: 2px; padding-bottom: 20px;">
      {{ draw_close() }}
    </div> -->
    <span class="touchable" id="un-do">{{ draw_undo() }}un-do</span><br>
    <span class="touchable" id="delete">{{ draw_delete() }}delete</span><br>
    <span class="touchable" id="move-tomorrow">{{ draw_tomorrow() }}tomorrow</span>
  </div>
</div>
{% endmacro %}

{% macro draw_close() %}
<svg width="22" height="22" viewBox="0 0 22 22">
  <line x1="8" y1="8" x2="14" y2="14" />
  <line x1="14" y1="8" x2="8" y2="14" />
  <circle cx="11" cy="11" r="9" stroke-width="2" fill="transparent" />
</svg>
{% endmacro %}

{% macro draw_undo() %}
<svg width="22" height="22" viewBox="0 0 22 22">
  <g transform="translate(0) rotate(45 15 10)">
    <rect x="6" y="6" rx="1" ry="1" width="14" height="14" stroke="black" stroke-width="2px" fill-opacity="0.0" />
  </g>
</svg>
{% endmacro %}

{% macro draw_delete() %}
<svg width="22" height="22" viewBox="0 0 22 22">
  <line x1="3" y1="3" x2="19" y2="19" />
  <line x1="19" y1="3" x2="3" y2="19" />
</svg>
{% endmacro %}

{% macro draw_tomorrow() %}
<svg width="22" height="22" viewBox="0 0 22 22">
  <line x1="3" y1="10" x2="18" y2="10" />
  <line x1="10" y1="3" x2="19" y2="10" />
  <line x1="10" y1="18" x2="19" y2="10" />
</svg>
{% endmacro %}

<body>
{{ date_nav() }}

<div id="list_container">
{% for task in tasks %}
{{ draw_task(task) }}
{% endfor %}
</div>

<div id="input_form">
  <form autocomplete="off">
    <svg id="new_task_diamond" class="touchable" width="28" height="28">
      <g transform="translate(0) rotate(45 12 16)">
        <rect class="touchable" x="3" y="4" rx="1" ry="1" stroke-width="2px" width="18" height="18"   />
      </g>
    </svg>
    <input id="entry_box" type="text" name="description" autofocus="autofocus">
    <input id="date_due_box" hidden="hidden" type="text" name="date_due" value="{{ date }}">
  </form>
</div>

<div id="tt_logo" class="touchable">
  <svg id="logo" class="started" width="28" height="28" viewBox="0 0 28 28">
    <g transform="translate(0) rotate(45 16 16)">
      <rect x="8" y="8" rx="1" ry="1" width="16" height="16" stroke="gray" stroke-width="2px" />
    </g>
    <line id="logoslash" x1="27" y1="5" x2="5" y2="27" />
  </svg><span> tinytask</span>
</div>

<div id="data_cache" hidden="hidden">
  {% for item in cached_data %}
    <input type="text" id="{{ item }}" value="{{ cached_data[item] }}">
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>


// Helpers

function ajax_get(url, callback) {
    var request = new requestRequest();
    request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            // console.log('responseText:' + request.responseText);
            try {
                var data = JSON.parse(request.responseText);
            } catch(err) {
                console.log(err.message + " in " + request.responseText);
                return false;
            }
            callback(data);
        }
    };
 
    request.open("GET", url, true);
    request.send();
}

function ajax_post(url, data_in, callback) {
  var request = new XMLHttpRequest();
  request.onreadystatechange = function() {
    if (request.readyState == 4 && request.status == 200) {
      try {
        var data = JSON.parse(request.responseText);
      } catch(err) {
        console.log("error time: " + request.responseText);
        return false;
      }
      callback(data);
    }
  };

  request.open('POST', url, true);
  request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
  var url_params = Object.keys(data_in).map(function(prop) {
    return [prop, data_in[prop]].map(encodeURIComponent).join("=");
  }).join("&");
  request.send(url_params);
}

function insert_task() {
  var new_task_diamond = document.querySelector("svg#new_task_diamond");
  new_task_diamond.classList.add("twirling");
  var entered_text = document.querySelector("#entry_box").value;

  if (entered_text !== "") {
    var data = {
      "description": entered_text,
      "date_due": document.querySelector("#date_due_box").value
    };
    console.log(data);
    ajax_post("/tasklist/insert/", data, function() {
      location.reload();
    });
  } else {
    new_task_diamond.classList.remove("twirling");
  }
}

function edit_task(task_date, task_key, new_description) {
  console.log(task_date + task_key);
  task_container = $("input#" + task_key);
  console.log(task_container.attr("value"));
  return false;
}

function edit_task_name(description) {
  console.log(description);
  return false;
}

function make_task_editable(container, description) {
  var task_div = container.parent();
  var status = task_div.children().first().attr("class");
  if (status === "done") { return; }
  var date = task_div.attr("date");
  var key = task_div.attr("key");
  container.replaceWith('<form autocomplete="off" onsubmit="edit_task_name()"><input id="task_edit_box" type="text" name="description" value="' + description + '"></form>');

}

function make_task_static(container) {

}

function set_task(task, container) {
  console.log("Task " + task.task_key + " set to: " + task.status);
  container.attr("class", task.status);
}

function update_menu_undo(container) {
  undo_span = container.parent().find($("span#un-do"));
  if (container.attr("class")==="notdone") {
      undo_span.hide();
      undo_span.next().hide();
  } else {
      undo_span.show();
      undo_span.next().show();
  }
}

function update_menu_tomorrow(container) {
  tomorrow_span = container.parent().find($("span#move-tomorrow"));
  if (container.attr("class")==="done") {
    tomorrow_span.hide();
  } else {
    tomorrow_span.show();
  }
}

function go_tomorrow() {
  window.location.href = "/date/{{ get_days(date, 1) }}/";
}

function go_yesterday() {
  window.location.href = "/date/{{ get_days(date, -1) }}/";
}

function get_todays_date() {
  today = new Date();
  year = today.toLocaleDateString("en-US", {year: "numeric"});
  month = today.toLocaleDateString("en-US", {month: "2-digit"});
  day = today.toLocaleDateString("en-US", {day: "2-digit"});
  return year + month + day;
}

function set_logo_tense() {
  list_date = "{{ date }}";
  today = get_todays_date();
  tense = "present";
  if (list_date > today) { tense = "future"; }
  if (list_date < today) { tense = "past"; }
  $("svg#date_diamond").attr("class", tense);
}

function user_is_typing() {
  is_typing = true;
  entry_box = $("#entry_box");
  if (!entry_box.is(":focus")) {
    is_typing = false;
  } else if (entry_box.val()==="") {
    is_typing = false;
  }
  if (document.activeElement.getAttribute("id") === "task_edit_box") {
    is_typing = true;
  }
  return is_typing;
}

function check_if_refresh_needed(today, page_load_time) {
  var data = {
    "date": today,
    "page_load_time": page_load_time
  };
  $.get("/tasklist/need_to_refresh/", data, function(result) {
    if (result==="true") {
      window.location.href = "/date/" + {{ date }} + "/";
    }
  });
}

// jQuery magic
$(document).ready(function() {

  set_logo_tense();

  $("svg#task_diamond").each(function(i) {
    update_menu_tomorrow($(this));
    update_menu_undo($(this));
  });

  // Open/close task menu
  $("span.task_text").click(function() {
    var task_span = $(this);
    var task_menu = task_span.next();
    var description = this.textContent;
    if (task_menu.is(":visible")) {
      task_menu.hide(200);
    } else {
      $("div.task_menu").hide(200);
      task_menu.show(200);
      // make_task_editable(task_span, description);
    }
  });

  // Advance task status
  $("svg#task_diamond").click(function() {
    diamond = $(this);
    if (diamond.hasClass("done")) {
      return;
    }
    if (diamond.hasClass("started")) {
      diamond.attr("class", "done");
      update_menu_tomorrow(diamond);
    }
    if (diamond.hasClass("notdone")) {
      diamond.attr("class", "started");
      update_menu_undo(diamond);
    }
    data = {
      "date_due": diamond.parent().attr("date"),
      "task_key": diamond.parent().attr("key")
    };
    $.post("/tasklist/advance/", data, function(response) {
      set_task(response, diamond);
    }, "json");
  });

  // Un-do task, reset to "notdone" status
  $("span#un-do").click(function() {
    un_do_span = $(this);
    diamond = un_do_span.parent().parent().children().first();
    un_do_span.parent().hide(200);
    data = {
      "date_due": un_do_span.parent().parent().attr("date"),
      "task_key": un_do_span.parent().parent().attr("key"),
      "status": "notdone"
    };
    set_task(data, diamond);
    un_do_span.parent().hide(200);
    $.post("/tasklist/undo/", data);
    update_menu_undo(diamond);
    update_menu_tomorrow(diamond);
  });

  // Delete task
  $("span#delete").click(function() {
    delete_span = $(this);
    data = {
      "date_due": delete_span.parent().parent().attr("date"),
      "task_key": delete_span.parent().parent().attr("key")
    };
    delete_span.parent().parent().hide(200);
    ajax_post("/tasklist/delete/", data, function() {
      window.location.href = "/date/" + data["date_due"] + "/";
    });
  });

  // Move it to tomorrow
  $("span#move-tomorrow").click(function() {
    move_span = $(this);
    data = {
      "date_due": move_span.parent().parent().attr("date"),
      "task_key": move_span.parent().parent().attr("key"),
      "x_days": 1
    };
    move_span.parent().parent().hide(200);
    $.post("/tasklist/moveto/", data, function() {
      window.location.href = "/date/" + data["date_due"] + "/";
    });
  });

  // Date navigation
  $("rect#yesterday_button").click(function() {
    go_yesterday();
  });

  $("rect#tomorrow_button").click(function() {
    go_tomorrow();
  });

  $("#new_task_diamond").click(function() {
    insert_task();
  });

  $("#tt_logo").click(function() {
    $("svg#logo").addClass("twirling");
    window.location.href = "/status/";
  });
});

$(document).keyup(function(e) {
  if (e.keyCode === 13) {
    if ($("#entry_box").is(":focus")) {
      insert_task();
    }
  }
  if (user_is_typing()) {
    return;
  }
  if (e.keyCode === 27) {
    $("div.task_menu").hide(200);
  }
  if (e.keyCode === 37) {
    go_yesterday();
  }
  if (e.keyCode === 39) {
    go_tomorrow();
  }
});

window.onfocus = function() {
  check_if_refresh_needed({{ date }}, {{ time_loaded }});
};
</script>
</body>
</html>
