<html class="no-fouc">
<head>
<title>Tinytask</title>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
<link rel="apple-touch-icon" ref="{{ url_for('static', filename='tinytask_logo.png') }}" />
<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="placeholder">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    today = new Date();
    year = today.toLocaleDateString("en-US", {year: "numeric"});
    month = today.toLocaleDateString("en-US", {month: "2-digit"});
    day = today.toLocaleDateString("en-US", {day: "2-digit"}); 
    date_url = "/date/" + year + month + day + "/";
    console.log(date_url);
    $.get(date_url, function(r) {
      $("div.placeholder").replaceWith(r);
    });
</script>
</div>
</body>
</html>
